.greybg {
    background: #F5F7FB;
}
.project {
    
    width: 100%;
    height: 100%;
    margin-bottom: var(--xl);
}

.ProjectBox {
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    border-radius: 6px;
    margin-top: var(--l);
    margin-left: var(--m);
}

.ProjectBox-label {
    background: #13133A;
    border-radius: 4px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    width: max-content;
    padding: var(--s);
    margin: var(--m);
    color: #FFFFFF;
}

.ProjectBox-text {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #13133A;
    margin: var(--m);
    padding: var(--s);
}
.title {
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    color: #13133A;
}

.description {
    font-weight: normal;
    font-size: 24px;
    line-height: 40px;
    color: #13133A;
}

.infobarLabel {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #13133A;
}

.infobarInfo {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
}

.extraDetails  h3{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: #13133A;
}

.extraDetails p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: #13133A;
}

.roundedBox {
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 4px;
}