.Home-landing {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    flex-wrap: wrap;
}
.Home-top {
    display: flex;
    max-height: minmax(200px, 20vh);
    width: 100%;
    padding: var(--l);
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #ebf5fa;
}
.Home-banner {
    background-color:transparent;
    flex-grow: 1;
}

.Home-title {
    background: transparent;
    align-self: center;
    flex-grow: 1;
}

.Home-desc {
    font-family: "Roboto";
    font-size: 24px;
}

.Home-img {
    width: 100%;
    height: 100%;
}