.NavBar-container {
  padding: var(--m);
  background-color: var(--white);
  font-size: 20px;
}

.NavBar-logo {
  padding: var(--m);
  width: 50px;
  height: auto;
}

.NavBar-linkContainer {
  text-align: right;
  margin-left: var(--l);
}

.NavBar-link,
.NavBar-link:visited {
  color: var(--black);
  opacity: 0.9;
  text-decoration: none;
}

.NavBar-link:hover {
  opacity: 0.95;
}

.NavBar-link + .NavBar-link {
  margin-left: var(--m);
}
