.RegisterUser-container {
    padding: var(--l);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 2500px;
    justify-content: center;
}

.header-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 50px;
}

@media (max-width: 575px) {
    .header-container {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
    }
}

.header-title {
    font-style: normal;
    margin-bottom: 30px;
}

.header-image {
    display: flex;
    justify-content: flex-end;
}

.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 75px;
    margin-bottom: 25px;
}

@media (max-width: 575px) {
    .form-container {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
    }
}

.form-field-label {
    width: auto;
    padding: 0px 15px 0px 15px;
    display:inline-block;
    background-color: #13133A;
    color: white;
    border-radius: 2px;
    margin-top: 30px;
}

input.form-control {
    border: 0;
    border-bottom: 1px solid black;
    border-radius: 0;
}

.form-group {
    margin: 15px 0 10px 0 !important;
}

.form-submit #button {
    width: 342px;
    height: 64px;
}

.form-submit {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    flex-wrap: wrap;
}
