.Home-container {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    color: #000000;
    text-align: left;
    background-color: white;
}
/*
When the screen is too small
*/
@media (max-width: 575px) {
    .Home-container {
        text-align: center;
    }
}


/*

TITLE SECTION 

*/
.Home-titleContainer {
    padding-top: 6em;
    padding-bottom: 6em;   
}

.Home-title {
    /* identical to box height */
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 24px;
}

.Home-subtitle {
    max-width: 22em;
    font-size: 24px;
    line-height: 40px;
}

.Home-smallTitle {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 40px;
}

.Home-apply {
    margin: var(--m);
    min-height: 3em;
}
/* SHOWCASE SECTION */

.Home-showcase {
    background-color: #f2f2f2;
    padding-top: 6em;
    padding-bottom: 11em;
    height: 100%;
}

.Home-showcaseSection {
    margin-bottom: 5em;
}

.Home-showcaseElements {
    
    max-width: 100%;

}

.Home-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media (min-width: 575px) {
    .Home-flex {
      margin-left: var(--screen-xl);
      margin-right: var(--screen-xl);
    }
}

