.Staircase-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
   
    max-width: 100%;
    max-width: 100%;
    flex-basis: 1;
}

.bottom {
    background: #E4E4E4;
    border-radius: 6px;
    width: 500px;
    height: 80px;
    margin-left: var(--m);
    margin-right: var(--m);
}

.middle {
    margin-left: var(--l);
    margin-right: var(--l);
    background: #E9E9E9;
    border-radius: 6px;
    width: 300px;
    height: 80px;
}

.top {
    margin-left: var(--xl);
    margin-right: var(--xl);
     height: 80px;
    background: #FFFFFF;
    border-radius: 6px;
    width: 200px;
}
