<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>BuildConnect Student Mentorship Request</title>
</head>

<body>
    <p>
        Hi {{mentorFirstName}},
        <br/>
        <br/>
        Congratulations! {{studentName}} has reached out to you for mentorship:
        <br/>
        <br/>
        {{message}}
        
        <br/>
        <br/>
        Here is their contact info: {{studentEmail}}. Please respond within a few days if you are interested in mentoring their project! Thank you for being a BuildConnect mentor!
        <br/>
        <br/>
        Best,
        <br/>
        BuildConnect

    </p>
</body>

</html>