<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>BuildConnect Mentor Request Confirmation</title>
</head>

<body>
    <p>
        Hi {{USER}},
        <br/>
        <br/>
        This is a confirmation of your mentor request to: {{MENTOR}}! Please allow our mentors a few days to reply. Thank you for being part of the BuildConnect family!
        <br/>
        <br/>

        Best,
        <br/>
        BuildConnect

    </p>
</body>

</html>