<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>BuildConnect Project Submission Confirmation</title>
</head>

<body>
    <p>
        Hi {{studentName}},
        <br/>
        <br/>
        Thank you for submitting {{projectName}}! The BuildConnect team will review the proposal and get back to you within 2-3 days.  Thank you for being part of the BuildConnect family!
        <br/>
        <br/>

        Best,
        <br/>
        BuildConnect
        <br/>

    </p>
</body>

</html>