<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>BuildConnect Team Member Request</title>
</head>

<body>
    <p>
        Hello,
        <br/>
        <br/>
        Congratulations! {{studentName}} is asking to join your project:
        <br/>
        <br/>

        {{message}}
        
        <br/>
        <br/>
        Here is their contact info: {{studentEmail}}. You have 24-48 hours to respond to {{userName}} if you are interested in them joining. Thank you for being part of the BuildConnect family!
        <br/>
        <br/>
        Best,
        <br/>
        BuildConnect

    </p>
</body>

</html>