.Contact-title {
    /* identical to box height */
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 24px;
    max-width: 22em;
}

.Contact-subtitle {
    max-width: 22em;
    font-size: 24px;
    line-height: 40px;
}
.Contact-smallTitle {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 40px;
}